<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register New User</title>
</head>
<body>
  <h1>Register New User</h1>
  <form action="#" method="post" th:object="${user}" th:action="@{/handleRegister}"> <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{username}" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <br>
    <span th:if="${errorMessage == 'Username already exists'}" th:text="${errorMessage}">Username already exists</span>
    <br>
    <button type="submit">Register</button>
  </form>
  <br>
  <a href="/login">Login as a returning user</a>
</body>
</html>